
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin btn($size){
  height:$size;
  padding: 3px 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}


@mixin centerPage($width){
  width: $width;
  margin: 0 auto;
}

@mixin flex($justify-content: flex-start,$align-items:center){
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin square($size){
  height: $size;
  width: $size;
}
@mixin transparentBg(){
  background: transparent;
  @include color-theme(){
    color: get-color($text);
  }
}

@mixin boxShadow(){
  -webkit-box-shadow: -1px 0px 15px 0px rgba(102,102,102,1);
  -moz-box-shadow: -1px 0px 15px 0px rgba(102,102,102,1);
  box-shadow: -1px 0px 15px 0px rgba(102,102,102,1);
}