$bg: 'bg';
$card-bg: 'card-bg';
$text: 'text';
$text-secondary: 'text-secondary';
$link: 'link';
$hover: 'hover';
$logo: 'logo';
$brand-blue: 'brand-blue';
$brand-red: 'brand-red';
$border: 'border';
$theme-icon: 'dark-theme-icon';

//--colors
$brand--red--light: #b45139;
$brand--red--dark: lighten($brand--red--light, 10%);
$brand--blue--light: #4376A3;
$brand--blue--dark: lighten($brand--blue--light, 18%);
$bg--red: lighten($brand--red--light, 40%);
$bg--blue: lighten($brand--blue--light, 40%);
$bg--light: #F5F4F3;
$bg--dark--top: #333848;
$bg--dark--top: #272b38;
$bg--dark--bottom: #212631;
$bg--dark: linear-gradient(180deg, $bg--dark--top 0%, $bg--dark--bottom 100%);
$bg--card--light: lighten($bg--light, 1%);
$bg--card--dark: desaturate(lighten($bg--dark--top, 5%), 5%);
$card-border--light: 0px solid transparent;
$card-border--dark: 1px solid lighten($bg--card--dark, 12%);
$text--imp--light: #242D30;
$text--imp--dark: #E8E4E0;
$text--light: lighten($text--imp--light, 5%);
$text--light: lighten($text--imp--light, 5%);
$text--dark: #cac3bc;
$text--2--light: $text--imp--light;
$text--2--dark: $text--imp--dark;
$border--light: #cbcbcb;
$border--dark: #999;
$hover--light: transparentize($brand--blue--light, .9);
$hover--dark: transparentize(#fff, .9);

$highlight-color: transparentize($brand--blue--light, .1);

$themes:(
  default:(
    bg:$bg--light,
    text:$text--light,
    text-secondary:$text--2--light,
    dark-theme-icon:$text--light,
  ),
  dark:(
    bg:$bg--dark--top,
    text:$text--dark,
    text-secondary:$text--2--dark,
    dark-theme-icon:#ffd475,
  ),

);

@mixin color-theme() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $value in $map {
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function get-color($key){
  @return map-get($theme-map, $key);
}